# Environment Configuration Example

# Application Settings
APP_ENV=local
PROJECT_NAME=AgenticQA
VERSION=1.0.0
DEBUG=true

# API Settings
API_V1_STR=/api/v1


# LLM Settings
QWEN_FLASH_MODEL=qwen3.5-flash
QWEN_MAX_MODEL=qwen3-max
QWEN_3_5_MODEL=qwen3.5-plus
OPENAI_BASE_URL=  # Provide Base URL Here
OPENAI_API_KEY=               # provide api key here
DEFAULT_LLM_TEMPERATURE=0.2
MAX_TOOL_CALLS=3

# Database Settings
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY= # provide langsmith api key here.
LANGSMITH_PROJECT=AgenticQA

# Rate Limiting Settings
RATE_LIMIT_DEFAULT=50 per minute,300 per hour

# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT=console




